<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<body style="background-color:#F4D03F;">
    <h2><p align=center>Noticia mas votada de <i>www.meneame.net</i><p><hr></h2>
	<h4><p align=center>Las noticias que superan el umbral de {{w2umbral|safe}} clics son<p></h4>
	<table border ="4" width="740" align= "center">
 		<tbody style="background: rgba(163, 228, 215, 0.8); border: 1px solid rgba(200, 100, 0, 0.3);">
			<tr><!--PRIMERA FILA-->
				<td bgcolor="#06034D" align="center" valign="top">
				<font color="#FFFFFF" face="arial, verdana, helvetica">
					<b>Fecha</b>
				</font> 
				</td>
				<td bgcolor="#06034D" align="center" valign="top">
				<font color="#FFFFFF" face="arial, verdana, helvetica">
					<b>Hora</b>
				</font> 
				</td>
				<td bgcolor="#06034D" align="center" valign="top">
				<font color="#FFFFFF" face="arial, verdana, helvetica">
					<b>Noticias</b>
				</font> 
				</td>
				<td bgcolor="#06034D" align="center" valign="top">
				<font color="#FFFFFF" face="arial, verdana, helvetica">
					<b>Meneos</b>
				</font> 
				</td>
				<td bgcolor="#06034D" align="center" valign="top">
				<font color="#FFFFFF" face="arial, verdana, helvetica">
					<b>Clics</b>
				</font> 
				</td>
			</tr>
			{{wresultado|safe}}
		</tbody>
	</table>
     <p align= "center"> {{wm2error|safe}}
	<p align=center>
		<button><a align=center href="http://192.168.26.4:5000" style="text-decoration:none" accesskey="1">Volver</a></button>
	<p>
      <p align=right>
       <i>Práctica realizada por Álvaro Catalina</i>
	</body>
</html>